.box-left {
    background-color: #fff;
    text-align: left;
    position: relative;
    .text-- {
        span {
            display: inline-block;
            font-size: 13px;
            margin: 7px 10px;
            text-indent: 10px;
            height: 20px;
            line-height: 20px;
            border-left: 4px solid #ef384a;
            font-weight: 500;
            color: #333333;
        }
    }
}
.box-- {
    .box-frame {
        .img {
            width: 45px;
        }
        span {
            font-size: 12px;
        }
        em {
            height: 20px;
        }
        .text-color {
            color: #999;
        }
    }
}