.scroll-container {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 30px;
    line-height: 35px;
    box-shadow: 0 0 1px #ccc;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .scro_icon {
        margin: 0 10px;
    }
    .scroll-img {
        width: 8%;
        text-align: center;
        line-height: 28px;
        margin-top: 4px;
        float: left;
        .icon_img {
            width: 16px;
            height: 16px;
        }
    }
    .no_nitice,
    .scroll-list-item {
        font-size: 12px;
        display: inline-block;
        padding-right: 30px;
    }
    .scroll-list {
        float: right;
        width: 88%;
        overflow: hidden;
        position: relative;
        .scroll-list-container {
            width: 100%;
            white-space: nowrap;
            position: relative;
            .scroll-list-item {
                &:first-child {
                    padding-left: 100%;
                }
                display: inline-block;
                width: auto;
                font-size: 12px;
                line-height: 30px;
                height: 100%;
                padding-left: 80px;
                color: #666666;
            }
        }
    }
    .scroll-right {
        position: absolute;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        background-color: white;
        right: 0;
        width: 20px;
        height: 100%;
        span {
            font-size: 18px;
            color: #999999;
        }
    }
}