@import "../../../../assets/css/mixins/mixin";
.credit{
	@at-root #{&}_message{
		.isHappyLottery {
			top: 177px;
		}
		@at-root #{&}--ul{
			width: 100%;
			list-style: none;
			margin: 0;
			position: absolute;
			top: 159px;
			bottom: 80px;
			overflow: hidden;
			overflow-y: scroll;
			padding: 0 0 10px 0;
			-webkit-overflow-scrolling:touch;
			@at-root #{&}_li{
				padding: 10px 0;
				position: relative;
				overflow: hidden;
				background-color: #ffffff;
				margin-bottom: 10px;
				box-shadow: 0 -2px 10px 0 rgba(153, 153, 153, 0.2), 0 2px 10px 0 rgba(153, 153, 153, 0.2);
				@at-root #{&}-title{
					display: block;
					width: 100%;
					text-align: center;
					height: 20px;
					span{
						display: inline-block;
						width: auto;
						min-width: 20%;
						padding: 0 6px;
						margin-left: 10px;
						@include bgColor();
						border-radius: 4px;
						font-size: 13px;
						line-height: 20px;
						color: #ffffff;
						float: left;
						font-weight: 600;
					}
					i{
						float: left;
						font-size: 20px;
						height: 20px;
						@include bgColor();
						border-radius: 4px;
						color: #ffffff;
					}
				}
				@at-root #{&}-subset{
					width: 100%;
					overflow-x: auto;
					overflow-y: hidden;
					white-space: nowrap;
					position: relative;
					span{
						margin: 0 5px;
						background-color: inherit;
						color: #333333;
						&.active{
							@include bgColor();
							color: #ffffff;
						}
					}
				}
				.lhcSpecial{
					p{
						width: 25px;
						height: 25px;
						display: inline-block;
						border-radius: 50%;
						line-height: 25px;
						text-align: center;
						background: #ada29d;
						margin: 4px 8px;
						color: #ffffff;
						&.active{
							@include bgColor();
						}
					}
				}
			}
		}
		@at-root #{&}--second {
			top: 136px!important;
		}
	}
	@at-root #{&}_footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 8;
		box-shadow: 0 -2px 10px 0 rgba(153, 153, 153, 0.2);
		@at-root #{&}-title{
			text-align: center;
			line-height: 30px;
			color: #666666;
			font-size: 14px;
			background-color: #fefceb;
			border-bottom: 0.5px solid #ffe400;
			span{
				@include fontColor();
			}
			img {
				width: 20px;
				height: 20px;
				vertical-align: middle;
				text-align: center;
			}
			.refreshMoneyStyle{
				-webkit-animation: rotating 1s infinite; /* Safari 4.0 - 8.0 */
				animation:rotating 1s linear infinite;
			}
		}
		.order{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			height: 50px;
			background: #fff;
			.detail_footer_box{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-flow: nowrap;
				flex-flow: nowrap;
				width: 100%;
				padding: 0 10px;
				margin-top: 8px;
				.l {
					float: left;
				}
				.r {
					float: right;
				}
				.delete-box{
					max-width: 34px;
					float: left;
					img{
						width: 34px;
						height: 34px;
					}
					.reset-btn{
						background-size:23px 30px;
					}
					button{
						width: 34px;
						border-radius: 3px;
						height: 40px;
						font-size: .3rem;
						padding: 0;
						border: none;
						outline: none;
						margin-right: 0;
					}
				}
				.read-box{
					max-width: 90px;
					margin-left: 10px;
					font-size: 15px;
					font-family: 'PinFanfSC-Semibold';
					text-align: center;
					button{
						@include bgColor();
						width: 90px;
						height: 34px;
						font-size: 15px;
						font-weight: 500;
						color: #ffffff;
						border: none;
						border-radius: 2px;
					}
				}
				.input-box{
					border: 1px solid #d42d3b;
					height: 34px;
					line-height: 34px;
					padding-left: 5px;
					border-radius: 3px;
					background: #fff;
					text-align: left;
					font-size: .45rem;
					overflow: hidden;
					margin: 0 10px;
					width: 79%;
					input{
						height: 100%;
						width: 100%;
						border: none;
					}
				}
				.order-box{
					max-width: 34px;
					img{
						width: 34px;
						height: 34px;
					}
					.buy-btn{
						@include bgColor(#ffd200);
						margin-right: 3%;
						color: #fff;
						border: none;
						border-radius: 5px;
						line-height: 34px;
						i{
							color: #fff;
							font-size: 30px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	@at-root #{&}_popup {
		width: 270px;
		max-height: 352px;
		border-radius: 4px;
		position: absolute;
		left: 50%;
		top: 50%;
		overflow: hidden;
		animation: myfirst 0.2s;
	}
}

.credit_footer--quickChioce {
	background: #fefceb;
	display: flex;
	height: 30px;
	line-height: 30px;
	padding: 2px 10px;
	p {
		font-size: 14px;
	}
	.quickChioce_box {
		display: flex;
		justify-content:space-between;
		width: 70%;
		margin-top: 2px;
		div {
			width: 48px;
			height: 24px;
			line-height: 24px;
			font-weight: bold;
			border: 0.5px solid #d4d4d4;
			border-radius: 4px;
			background: #ffffff;
			text-align: center;
			color: #666666;
			padding: 0;
			&.active {
				@include bgColor(#ff8286);
				color: #ffffff;
			}
		}
	}
}
@keyframes fly {
	from {
		top: 10rem;
		display: none;
	}
	to {
		top: -.15rem;
		display: block;
	}
}

@-webkit-keyframes fly {
	from {
		top: 10rem;
		display: none;
	}
	to {
		top: -.15rem;
		display: block;
	}
}
@-webkit-keyframes rotating {
	from { transform:rotate(0) }
	to { transform:rotate(360deg) }
}
@keyframes rotating {
	from { transform:rotate(0) }
	to { transform:rotate(360deg) }
}
