@import "../../mixins/mixin.scss";
.topTab {
	@at-root #{&}--row {
		border-bottom: 1px solid #dddddd;
		background: #fff;
		height: 50px;
		@at-root #{&}_col {
			width: 30%;
			float: left;
			text-align: center;
			margin: 10px 10%;
			line-height: 30px;
			font-size: 13px;
			border-radius: 4px;
			&:first-child{
				position: relative;
				&:before{
					width: 1px;
					content: '';
					position: absolute;
					right: -33%;
					color: #dddddd;
					border-right: 1px solid #dddddd;
					height: 70%;
					top: 15%;
				}
			}
			&.active{
				@include bgColor();
				color: #ffffff;
			}
		}
	}
}
