@import "../../mixins/mixin";
.actionSheet {
    .van-popup--round {
        border-radius: 6px 6px 0 0;
    }
    .van-action-sheet__cancel {
        &:before {
            display: none;
        }
    }
    .van-row {
        .van-col {
            height: 44px;
            line-height: 44px;
            text-align: center;
            border-bottom: 1px solid #efefef;
            font-size: 14px;
            @include fontColor(#333);
            &:last-child {
                border-bottom: none;
            }
        }
        .active {
            font-size: 15px;
            @include fontColor();
        }
    }
}